[MESSAGES CONTROL]
disable=broad-exception-caught,line-too-long,dangerous-default-value,wrong-import-position,import-outside-toplevel,too-many-positional-arguments,too-many-arguments,too-many-return-statements

[FORMAT]
max-line-length=156
